<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMDBExampleSwift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C5937321E24D84B000141A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5937461E24D84C000141A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5937511E24D84C000141A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
